#headlines {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    height: 60vh;
}

#headlines .primary {
    flex: 1 1 auto;
    flex-basis: 100%;
}

#headlines .secondary {
    flex: 1 1 auto;
    flex-basis: 50%;
}

#news {
    display: flex;
    flex-wrap: wrap;
}

#news h2 {
    width: 100%;
}

.article {
    width: 23vw;
    margin: 5px;
}

.article .artThumbnail {
    width: 100%; 
    height: 23vh;
}

.article .artTitle {
    width: 100%;
}

#categories {
    display: flex;
    flex-wrap: wrap;
}

#categories h2 {
    width: 100%;
}

#categories .catContainer {
    width: 30vw; 
    height: 80vh;
    margin: 5px;
}

#categories .catImg {
    width: 100%;
    height: 33%;
}

@media only screen and (max-width: 1000px) {
    #news {
	margin: 10px;
    }

    .article {
       width: 30vw;
    }

    #categories .catContainer {
        width: 46vw;
    }
}

@media only screen and (max-width: 750px) {
    #headlines {
        width: 100vw;
    }

    #headlines .primary {
        flex-basis: auto;
	width: 100vw;
    }

    #headlines .secondary {
        flex-basis: auto;
	width: 100vw;
    }

     #categories .catContainer {
        width: 100vw;
    }
}
